{% extends 'base.html' %}
{% block link-content %}
<div class="main-content iiidiv">
    <h1 class="h1" style="font-family: cursive;">Contact Details</h1>
    <h4 class="mt-3">Training and Placement Office</h4>
    <p><span><i class="fas fa-location"></i></span> Room No. 105, First floor, Main Building, Govenrment College of Engineering, Jalgaon</p>
    <p><span><i class="fas fa-user"></i></span>  &nbsp; Shri. M. S. Sadavarte ( TPO )</p>
    <p><span><i class="fas fa-envelope"></i></span>&nbsp; placements@gcoej.ac.in  &nbsp; & &nbsp; tandpjal@gmail.com</p>
    <p><span><i class="fas fa-phone"></i></span>&nbsp; +919881095623</p>

    <div class="d-flex justify-content-center mt-5">
        <div class="col-lg-9 col-md-10 col-sm-11" id="contact-table-box">
            <table class="table table-bordered table-striped table-info" id="table">
                <thead class="fw-bold">
                    <tr>
                        <td>Sr. No</td>
                        <td>Name of Department</td>
                        <td>Contact Person</td>
                        <td>Contact Details</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Civil Engineering Dept.</td>
                        <td>Shri. V. P. Jadhav</td>
                        <td>9766577632</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Computer Engineering Dept.</td>
                        <td>Shri. T. K. Gawali</td>
                        <td>9309777250</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Instrumentation Engineering Dept.</td>
                        <td>Shri. S. R. Shlledar</td>
                        <td>7972300757</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mechanical Engineering Dept.</td>
                        <td>Shri. S. A. Patil</td>
                        <td>9325294253</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Electrical Engineering Dept.</td>
                        <td>Smt. M. R. Bachawad</td>
                        <td>9850551540</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>E & TC Engineering Dept.</td>
                        <td>Shri. M. S. Sadavarte</td>
                        <td>9881095623</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock link-content %}