{% extends 'base.html' %}
{% block link-content %}

<div class="main-content  iiidiv">
    <h1 class="h1" style="font-family: cursive;">III Cell</h1>
    <h3 class="h3">About III Cell</h3>
    <p class="iiip">The industry-institute interaction cell has been constituted for Bridging the gap between Industry &
        Institute.
        All concerned have the freedom to think of additional inputs from industry, relate them to functions of
        technical education systems, ultimate outcomes and systems improvement. The Industry Institute Partnership
        Cell
        was organized in the year 2015, as a continuous interaction between academia and industry which is the need
        of
        the hour. It provides a platform for both the students as well as faculty members to be aware of the lacunae
        in
        their skills and provides an opportunity to constantly upgrade their knowledge. This will enhance the
        Teaching-Learning Process and enable the institution to produce quality students. Such interaction can thus
        be
        of mutual benefit to the institution as well as the Industry.</p>
    <h3 class="h3">The Objective of Industry Institute Interaction Cell</h3>
    <p class="iiip">
        <ul class="iiiul">
            <li>To cultivate the strong links with industry.</li>
            <li>To evolve educational programmes which are consistent with the broad requirement of the industry and which
                can
                give rise to engineering personnel capable of coping-up with the accelerating pace of the technological
                development.</li>
            <li>To create adequate facilities of upgrading knowledge of professional engineers and technologists to meet
                growth
                and developmental needs of the industry.</li>
            <li>To promote various industrial activities by the faculty members and students. To catalyze the further growth
                and
                development of interactions between the institute and industry.</li>
        </ul>
    </p>
</div>
{% endblock %}