{% extends 'base.html' %}
{% block link-content %}
<div class="main-content iiidiv">
    <h1 class="h1" style="font-family: cursive;">Placement Procedure</h1>
    <p>
        <ul id="placementul">
            <li>The placement Activity commence by sending placement invitation to the companies enclosing a brief summary of the academic curriculum and presentation of institute. A Job Response Form (JRF) is also sent to the recruiters asking details about company, job description, salary, etc.</li>
            <li>In response, companies submit completely filled Job Response Form (JRF) to the T & P office.</li>
            <li>The Training & Placement Officer conducts an orientation program for Third year students during which, placement procedures, placement policy, Job profile etc. are discussed and all the doubts, students may have, are addressed.</li>
            <li>Then the placement office collects students' information in the eligible student data format.</li>
            <li>The company has a choice of visiting the campus for a Pre-Placement Talk either before the selection processes or along with the final recruitment.</li>
            <li>On receipt of confirmation and JRF, the placement office announces the requirements of the company, thereby allowing interested students to indicate their willingness to participate in particular companies' Campus Recruitment Procedure and resumes of these students are then submitted to the company.</li>
            <li>The company shortlists the candidate from the application pool and then sends the same to the Placement Office. A mutually convenient date for the selection processes is finalized.</li>
            <li>The company is required to present the final list of students as soon as possible (preferably on the same day), after completion of the selection process.</li>
            <li>Feedback from the recruiters about students performance and quality is collected and is passed on the respective departments for further necessary action, if any.</li>
            <li>The offer letters of the selected students are sent by the companies to the Placement Office which is then handed over to the students. Acceptance of the offer (provided by the students) is received and sent to the company by the Placement Office.</li>
        </ul>
    </p>
</div>
{% endblock link-content %}