{% extends 'base.html' %}
{% load static %}
{% block home-btn %}
<a class="btn btn-outline-primary me-2" href="{% url 'home' %}">Back</a>
{% endblock %}
{% block team-btn %}
{% endblock %}
{% block data %}
<div class="container-fluid p-3">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center text-bold fs-4">Our Team</div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-5">
            <div class="team-card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                <div class="team-img">
                    <img src="{% static 'images/diksha2.jpg' %}" alt="">
                </div>
                
                <h4>Diksha Bhangale</h4>
                <div class="user-links text-center">
                    <a href="" class="me-2"><i class="fa-brands fa-github fa-3x"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin fa-3x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-5">
            <div class="team-card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                <div class="team-img">
                    <img src="{% static 'images/ajay.jpeg' %}" alt="">
                </div>
                <h4>Ajay Ghodke</h4>
                <div class="user-links text-center">
                    <a href="" class="me-2"><i class="fa-brands fa-github fa-3x"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin fa-3x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-5">
            <div class="team-card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                <div class="team-img">
                    <img src="{% static 'images/abhishek.jpg' %}" alt="">
                </div>
                <h4>Abhishek Gawande</h4>
                <div class="user-links text-center">
                    <a href="" class="me-2"><i class="fa-brands fa-github fa-3x"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin fa-3x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-5">
            <div class="team-card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                <div class="team-img">
                    <img src="{% static 'images/khushal.jpg' %}" alt="">
                </div>
                <h4>Khushal Dhumal</h4>
                <div class="user-links text-center">
                    <a href="" class="me-2"><i class="fa-brands fa-github fa-3x"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin fa-3x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 p-5">
            <div class="team-card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                <div class="team-img">
                    <img src="{% static 'images/Bhargav.jpg' %}" alt="">
                </div>
                <h4>Bhargav Gurav</h4>
                <div class="user-links text-center">
                    <a href="" class="me-2"><i class="fa-brands fa-github fa-3x"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock data %}